WARN: SSL handshake failed: -29312

Upon trying to connect to my umurmur server, Mumble tells me: `This server is using an older encryption standard, and is no longer supported by modern versions of Mumble.`
The umurmur log shows: `WARN: SSL handshake failed: -29312`

This came about after I changed domains and SSL certificate. I believe I have set up my SSL cert correctly, but am not sure. `openssl verify` works if I set `-CAfile` to the intermediate certificate provided to me by Comodo or if I concatenate it in front of my certificate. According to the [Configuring02x](https://code.google.com/p/umurmur/wiki/Configuring02x) document, `ca_path` is only used when umurmur is compiled using OpenSSL, which I am not. If I do not concatenate the intermediate certificate, I get a different error (could not verify SSL certificate, which makes sense).

Have I done something wrong? I am running umurmur on my Raspberry Pi using Arch Linux, and it worked previously to the SSL certificate change. I was previously using a cert from StartSSL, but am now using one from Comodo.

Don't know what's causing this. Maybe @fmorgner has a clue?

I was thinking it was an issue with PolarSSL, since there was an update to it on Jan. 20, but rolling it back did not change anything. I'll try making a self-signed certificate to see if that changes anything (other than it, obviously, being untrusted).

I'm going to look into it later today. It sounds like your vers

Key Length: 2048 bits
Mumble: 1.2.8
uMurmur: 0.2.15
PolarSSL: 1.3.9-2

I've been looking into it and it seems rather strange whats happening here.

First of all, I haven't got either a raspi or an installation of Arch Linux, but i tried it on two different Debian installations with different versions of polarssl, with different compile flags (USE_POLARSSL_HAVEGE), and did the same on OS X and OpenBSD. I could not reproduce the bug.

Secondly, as far as i can tell, we are using a "good" ciper suite (TLS_DHE_RSA_WITH_AES_256_CBC_SHA) and two non ephemeral variants of that suite. Maybe we could upgrade to the SHA-256 variants, but that would be a whole other discussion.

I'm absolutely not sure whats going on here, have you had the time to try it with a self-signed cert? As far as i can tell the comodo certs should fit the bill for mumble. Did you compile umurmur yourself?

I created a self-signed certificate using `openssl req -nodes -newkey rsa:2048 -keyout mycert.key -x509 -out mycert.crt`. Installing into umurmur works, once I tell Mumble to trust the self-signed certificate.

I am currently using the distribution umurmur, but I may try compiling it myself and see if that changes anything.

[This user](https://groups.google.com/forum/#!topic/umurmur-general/G9hdJ3QdTAc) on the umurmur-general group seems to have the same issue. At least some of the [Synology NAS](http://forum.synology.com/wiki/index.php/What_kind_of_CPU_does_my_NAS_have) series the user was having trouble with have an ARM CPU – perhaps it is something to do with that? It may be worthwhile to try running it on another platform and see if I have the same issue.

One other thing I'll try is allowing Mumble to connect to the Comodo cert when it is untrusted (due to not concatenating the intermediate cert in front). If it works then than it'll help narrow the issue.

I have tried it without concatenating the intermediate certificate in front, and it connects once I force Mumble to trust it. The issue is something to do with the concatenation.

As far as i remember, you need to provide the certs in reverse order when concatenating them. like so:

your_host_cert
comodo_intermediate_cert
comod_root_cert

The root cert should not be needed as the client has to have it installed in his certificate store anyway to be trusted, as obviously the root is self signed and thus the client will never trust it, unless its in his system certificate store.

I have reversed the order of concatenation (as @fmorgner suggested), which allowed Mumble to connect without complaint. This is contrary to the other literature I've read, which states the opposite order (root_cert –> intermediate_cert –> host_cert). OpenSSL correctly verified to original bundle, but does not the new one. Is this a difference between how OpenSSL and PolarSSL handle certificate chaining? Or is this something unique to umurmur? It may be useful to put a note of this in the documentation.

Anyways, thank you @fatbob313 and @fmorgner very much for your help in solving this problem. Please continue all your great work!

Glad to hear that resolved your issue.

This is not a umurmur speciality, as it is documented to be that way in "RFC 5246 Section 7.4.2 Server Certificate"

> certificate_list
>     This is a sequence (chain) of certificates.  The sender's
>     certificate MUST come first in the list.  Each following
>     certificate MUST directly certify the one preceding it.  Because
>     certificate validation requires that root keys be distributed
>     independently, the self-signed certificate that specifies the root
>     certificate authority MAY be omitted from the chain, under the
>     assumption that the remote end must already possess it in order to
>     validate it in any case.

It seems like OpenSSL is doing the validation wrong, if you try to verify the PEM file directly.

Anyhow, I think it would be a good idea to document that in the wiki and mark this issue as solved :)

Have fun with umumur!


It does appear that OpenSSL is doing it wrong, which is quite strange.
I'm mostly using umurmur because the setup is simple in comparison to the official server, and I don't need the greater capabilities it provides (user management would be nice though). Murmur needs QT for some reason, which requires a full graphics stack, which is just silly in my opinion!

Again, thanks!